@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
      ;
      
      
    
    });
</script>
<div class="jumbotron" id="div1">
  @*<ul>
   @foreach(var item in ViewBag.list) 
      @foreach(var item in ls)
      {
          <li>@item</li>
      }
  </ul>*@

<h3>@ViewBag.name</h3>
    @Html.TextBox("name")
    @Html.
</div>